.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  width: 100%;
  background-color: #282c34;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}
